.newsStory {
  display: flex;
  flex-direction: column;
  // border: solid black 2px;
  margin: 10px;
  height: calc(min-content + 10px);
  width: 250px;
  background-color: rgb(247, 245, 245);

  // h3 {
  //   text-decoration: underline;
  // }

  img {
    height: 50%;
    width: 100%;
  }

  .Awesome {
    font-size: 20px;
    margin: 0 5px;
  }

  .Awesome:hover {
    color: red;
  }

  .favIcons {
    display: flex;
  }
}
