p {
  border: solid gray 2px;
  border-radius: 5px;
  cursor: pointer;
  max-width: min-content;
}
.SignInOut {
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  max-width: min-content;
}

.NavBar {
  display: flex;
}
